*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: 'Montserrat', sans-serif;
}
.logo{
    letter-spacing: 3px;
    font-size: 20px;
}
.logo a{
  color:#da8181;
}
.logo a:hover{
  text-decoration: none;
  color: black;
  transition: all .3s;

}
.nombre{
    text-decoration: none;
    color: black;
}
.navs{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.navs li{
    list-style: none;
}  
.navs a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navs a:hover{
    color: #da8181;
    transition: all .3s;
}

.icono{
    display: none;
    cursor: pointer;
}
.icono div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}
 
  /* pie */

  footer{
    width: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding-bottom: 0.1px ;
  }
  
  .contenedor-footer{
     width: 100%;
     padding-top: 5%;
     padding-bottom: 40px;
     text-align: center;
  }
  
  .social-media{
    margin: auto;
    width: 100%;
  }
  
  .iconos{
    display: inline-block;
    margin-left: 20px;
    width: 100px;
    height: 60px;
    text-align: center;
    color: black;
    font-size: 200%;
    line-height: 60px;
  }
  .iconos:hover{
    color: #da8181;
  
  }
  .final{
    width: 100%;
    max-width: 80%;
    margin: 10px auto;
    height: 1px;
    background: black;
    margin-bottom: 100px;
  }
  
/*novedades */

.section-bg {
  padding: 60px 0;
  background: #F0F0F0;
}


.section-title {
  margin-bottom: 25px;
}

.section-title h2 {
  position: relative;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 1;
  text-transform: capitalize;
  display: inline-block;
  font-family: "Didact Gothic", sans-serif;
}


.single-product {
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;
}

.single-product .product-thumb {
  margin-bottom: 20px;
}

.single-product .product-title {
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.single-product .product-title h3 {
  font-family: "Didact Gothic", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.single-product .product-title h3 a {
  color: #292929;
  text-decoration: none;
}

.single-product .product-title h3 a:hover {
  color: #da8181;
}

.single-product:hover {
  box-shadow: -2px -2px 8px black;

}

img {
  display: inline-block;
  max-width: 100%;
}


.product-btns
{
  display: flex;
  justify-content: center;
}



a {
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
  color: #292929;
}


.btn-small {
  color: #292929;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 32px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: inset -2px -2px 8px white,
   inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
     inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.btn-small a{
  color:black;
}


.btn-round {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: -2px -2px 8px white, 
  -2px -2px 12px rgba(255, 255, 255, 0.5), 
  inset 2px 2px 4px rgba(255, 255, 255, 0.1),
   2px 2px 8px rgba(0, 0, 0, 0.15);
}


.btn-small:hover {
  box-shadow: -2px -2px 8px white,
   -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
     2px 2px 8px rgba(0, 0, 0, 0.15);
  color:#da8181;
  text-decoration: none;
}

.btn-small:hover span {
  display: inline-block;
  transform: scale(0.98);
}


.btn-round:hover {
  box-shadow: inset -2px -2px 8px white,
   inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
     inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  color:#da8181;
}




@media screen and (max-width: 1024px){
    .navs{
        width: 60%;
    }

}

@media  screen and (max-width: 700px){
    body{
      overflow-x: hidden;
    }
  .navs{
      position: absolute;
      right: 0px;
      height: 60%;
      top: 8vh;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 10;
  }
  .icono{
      display: block;
  }
  .logo{
        font-size: 15px;
    }
    .icono div{
        height: 2px;
        
        
    }
    .eslogan{
      font-size: 80px;
    }

    .navs-avtive{
    transform: translateX(0%);

}

  }

